@model IEnumerable<OnlineStore.Models.OrderViewModel>

@{
    ViewData["Title"] = "MyOrders";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}



<div class="app-content">
    <div class="u-s-p-y-60">
        <div class="section__content">
            <div class="container">
                <!-- Breadcrumb and other content -->
            </div>
        </div>
    </div>

    <div class="u-s-p-b-60">
        <div class="section__content">
            <div class="dash">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-12">
                            <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                <div class="dash__pad-1">

                                    <ul class="dash__f-list">

                                        <li>

                                            <a asp-controller="Home" asp-action="MyProfile">My Profile</a>
                                        </li>

                                        <li>

                                            <a asp-controller="Home" asp-action="TrackOrder">Track Order</a>
                                        </li>
                                        <li>

                                            <a asp-controller="Home" asp-action="MyOrders">My Orders</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="dash__box dash__box--bg-white dash__box--shadow dash__box--w">
                                <div class="dash__pad-1">
                                    <ul class="dash__w-list">
                                        <li>
                                            <div class="dash__w-wrap">

                                                <span class="dash__w-icon dash__w-icon-style-1"><i class="fas fa-cart-arrow-down"></i></span>

                                                <span class="dash__w-text">@Model.Count()</span>

                                                <span class="dash__w-name">Orders Placed</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--====== End - Dashboard Features ======-->
                        </div>
                        <div class="col-lg-9 col-md-12">
                            <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                <div class="dash__pad-2">
                                    <h1 class="dash__h1 u-s-m-b-14">My Orders</h1>
                                    <span class="dash__text u-s-m-b-30">Here you can see all products that have been delivered.</span>
                                    <div class="m-order u-s-m-b-30">
                                    </div>
                                    <div class="m-order__list">
                                        @foreach (var order in Model)
                                        {
                                    decimal originalTotalPrice = order.CouponDiscount.HasValue && order.CouponDiscount.Value > 0
                                            ? order.Order.Totalprice / (1 - (order.CouponDiscount.Value / 100)) : order.Order.Totalprice;
                                                
                                            <div class="m-order__get">
                                                <div class="manage-o__header u-s-m-b-30">
                                                    <div class="dash-l-r">
                                                        <div>
                                                            <div class="manage-o__text-2 u-c-secondary">Order @order.Order.Orderid</div>
                                                            <div class="manage-o__text u-c-silver">Placed on @order.Order.Orderdate.ToString("dd MMM yyyy")</div>
                                                            <div class="manage-o__text u-c-silver">Total Price Before Discount: @originalTotalPrice.ToString("C")</div>
                                                            @if (order.CouponCode != null)
                                                            {
                                                                <div class="manage-o__text u-c-silver">Total Price After Discount: @order.Order.Totalprice.ToString("C")</div>
                                                                <div class="manage-o__text u-c-silver">Coupon Code Used: @order.CouponCode</div>
                                                                <div class="manage-o__text u-c-silver">Coupon Code Percentage: @order.CouponDiscount</div>
                                                            }
                                                            else
                                                            {
                                                                <div class="manage-o__text u-c-silver">Coupon Code Used: none</div>
                                                                <div class="manage-o__text u-c-silver">Coupon Code Percentage: none</div>
                                                            }

                                                        </div>
                                                        <div>
                                                            <div class="dash__link dash__link--brand">
                                                                <div>
                                                                    <span class="manage-o__badge badge--processing">@order.Order.Orderstatus</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @foreach (var detail in order.OrderDetails)
                                                {
                                                    <div class="manage-o__description u-s-m-b-30">
                                                        <div class="description__container">
                                                            <div class="description__img-wrap">
                                                                <img class="u-img-fluid" src="@Url.Content("~/ProductImages/" + detail.Product.Imagepath)" alt="@detail.Product.Name" />
                                                            </div>
                                                            <div class="description-title">@detail.Product.Name</div>
                                                        </div>
                                                        <div class="description__info-wrap">
                                              
                                                            <div>
                                                                <span class="manage-o__text-2 u-c-silver">
                                                                    Quantity:
                                                                    <span class="manage-o__text-2 u-c-secondary">@detail.OrderDetail.Quantity</span>
                                                                </span>
                                                            </div>
                                                            <div>
                                                                <span class="manage-o__text-2 u-c-silver">
                                                                    Product Price:
                                                                    <span class="manage-o__text-2 u-c-secondary">$@detail.Product.Price.ToString("N2")</span>
                                                                </span>
                                                            </div>
                                                            <div>
                                                                @if (detail.ColorName != null)
                                                                {
                                                                    <span>
                                                                        Color:
                                                                        <div style="background-color: @detail.ColorName; margin-right: 10px; width: 20px; height: 20px; border-radius:50%; display: inline-block;"></div>
                                                                    </span>
                                                                }
                                                            </div>
                                                            <div>
                                                              @if (detail.SizeName != null)
                                                                {
                                                                    <span>Size: @detail.SizeName</span>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
