@model IEnumerable<OnlineStore.Models.UserFavItem>

@{
    ViewData["Title"] = "WishList";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!--====== App Content ======-->
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">

                                <a asp-action="Index" asp-controller="Home">Home</a>
                            </li>
                            <li class="is-marked">

                                <a asp-action="WishList" asp-controller="Home">Wishlist</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->

    <!--====== Section 2 ======-->
    <div class="u-s-p-b-60">
        <div class="section__intro u-s-m-b-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__text-wrap">
                            <h1 class="section__heading u-c-secondary">Wishlist</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section__content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <!--====== Wishlist Product ======-->
                        @foreach(var product in Model)
                        {
                   
                            <div class="w-r u-s-m-b-30">
                                <div class="w-r__container">
                                    <div class="w-r__wrap-1">
                                        <div class="w-r__img-wrap">

                                            <img class="u-img-fluid" src=@Url.Content("~/ProductImages/" + product.Products.Imagepath) alt="">
                                        </div>
                                        <div class="w-r__info">

                                            <span class="w-r__name">

                                                <a asp-action="ProductDetails" asp-route-id="@product.Products.Productid">@product.Products.Name</a>
                                            </span>

                                            <span class="w-r__category">

                                                <a href="shop-side-version-2.html"></a>
                                            </span>

                                            <span class="w-r__price">
                                               @product.Products.Price                       
                                            </span>
                                        </div>
                                    </div>
                                    <div class="w-r__wrap-2">

                                        <a class="w-r__link btn--e-brand-b-2" asp-action="ProductDetails" asp-route-id="@product.Products.Productid">ADD TO CART</a>

                                        <a class="w-r__link btn--e-transparent-platinum-b-2" asp-action="ProductDetails" asp-route-id="@product.Products.Productid">VIEW</a>

                                        <a class="w-r__link btn--e-transparent-platinum-b-2" href="@Url.Action("RemoveFromWishlist", "Home", new { id = @product.Products.Productid })">REMOVE</a>
                                    </div>
                                </div>
                            </div>
                        }                     
                        <!--====== End - Wishlist Product ======-->
                    </div>
                    <div class="col-lg-12">
                        <div class="route-box">
                            <div class="route-box__g">

                                <a class="route-box__link" asp-controller="Home" asp-action="Index">
                                    <i class="fas fa-long-arrow-alt-left"></i>

                                    <span>CONTINUE SHOPPING</span>
                                </a>
                            </div>
                            <div class="route-box__g">

                                <a class="route-box__link" href="@Url.Action("DeleteWishlist", "Home")">
                                    <i class="fas fa-trash"></i>

                                    <span>CLEAR WISHLIST</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 2 ======-->
</div>
<!--====== End - App Content ======-->



