@model IEnumerable<OnlineStore.Models.UserShoppingCartItem>

<!--====== Dropdown Main plugin ======-->
<div class="menu-init" id="navigation3">

    <button class="btn btn--icon toggle-button fas fa-shopping-bag toggle-button-shop" type="button"></button>

    <span class="total-item-round">@Model.Count()</span>

    <!--====== Menu ======-->
    <div class="ah-lg-mode">

        <span class="ah-close">✕ Close</span>

        <!--====== List ======-->
        <ul class="ah-list ah-list--design1 ah-list--link-color-secondary">
            <li>

                <a asp-action="Index" asp-controller="Home"><i class="fas fa-home"></i></a>
            </li>
            <li>

                <a asp-action="WishList" asp-controller="Home"><i class="far fa-heart"></i></a>
            </li>
            <li class="has-dropdown">

                <a class="mini-cart-shop-link" asp-action="CartList" asp-controller="Home">
                    <i class="fas fa-shopping-bag"></i>

                    <span class="total-item-round">@Model.Count()</span>
                </a>

                <!--====== Dropdown ======-->
                <span class="js-menu-toggle"></span>
                <div class="mini-cart">

                    <!--====== Mini Product Container ======-->
                    <div class="mini-product-container gl-scroll u-s-m-b-15">
                        @foreach (var item in Model)
                        {
                            <div class="card-mini-product">
                                <div class="mini-product">
                                    <div class="mini-product__image-wrapper">

                                        <a class="mini-product__link" href="product-detail.html">

                                            <img class="u-img-fluid" src=@Url.Content("~/ProductImages/" + item.Products.Imagepath) alt="">
                                        </a>
                                    </div>
                                    <div class="mini-product__info-wrapper">

                                        <span class="mini-product__category">

                                            <a href="shop-side-version-2.html">@item.Categories.Name</a>
                                        </span>

                                        <span class="mini-product__name">

                                            <a href="product-detail.html">@item.Products.Name</a>
                                        </span>

                                        <span class="mini-product__quantity">@item.CartItem.Quantity x</span>

                                        <span class="mini-product__price">$@item.Products.Price</span>
                                    </div>
                                </div>

                                <a class="mini-product__delete-link far fa-trash-alt" asp-action="RemoveFromCartlist" asp-controller="Home" asp-route-id="@item.CartItem.Shoppingcartid"></a>
                            </div>
                            
                        }
                        
                    </div>
                    <!--====== End - Mini Product Container ======-->
                    <!--====== Mini Product Statistics ======-->
                    <div class="mini-product-stat">
                        <div class="mini-total">

                            <span class="subtotal-text">SUBTOTAL</span>

                            <span class="subtotal-value">$@UserShoppingCartItem.CalculateTotalPrice(Model)</span>
                        </div>
                        <div class="mini-action">

                            <a class="mini-link btn--e-brand-b-2" href="checkout.html">PROCEED TO CHECKOUT</a>

                            <a class="mini-link btn--e-transparent-secondary-b-2" asp-action="CartList" asp-controller="Home">VIEW CART</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--====== End - Dropdown Main plugin ======-->
