@model IEnumerable<OnlineStore.Models.Categorytype>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                        <th>
                @Html.DisplayNameFor(model => model.Categorytypeid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categorytypename)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Categorytypeid)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorytypename)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Categorytypeid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Categorytypeid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Categorytypeid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
